nav{
    background-image: url(../image/backgroundimage.jpg);
    display: flex;
    justify-content: space-around;
    color: white;
    font-size: 20px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    width: 40px;
    padding-right: 30px;
}
.discover{
    display: flex;
    justify-content: space-between;
    width: 400px;
}